<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="flage">

  <xacro:include filename="$(find flange)/urdf/flange_macro.xacro"/>
  <xacro:flange prefix="" />

  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="flange"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  
</robot>
